{% extends "layouts/base-fullscreen.html" %}
{% load crispy_forms_filters %}

{% block title %}Sign in{% endblock %}

{% block content %}
  <div class="auth-wrapper">
    <div class="auth-content">
      <div class="card">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <img src="/static/assets/images/logo-dark.png" alt="Logo" class="img-fluid mb-4">
              <h4 class="mb-3 f-w-400">Sign in</h4>

              {% if form.errors %}
                <p class="alert-danger">Your username and password didn't match. Please try again.</p>
              {% endif %}

              <form method="post">
                {% csrf_token %}

                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="feather icon-user"></i></span>
                  <input type="text" name="username" class="form-control border-0 shadow-sm"
                         placeholder="Username" required>
                </div>

                <div class="input-group mb-4">
                  <span class="input-group-text"><i class="feather icon-lock"></i></span>
                  <input type="password" name="password" class="form-control border-0 shadow-sm"
                         placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-block btn-primary mt-2 mb-4">Sign in</button>
              </form>

              <p class="mb-0 text-muted">Don’t have an account?
                <a href="{% url 'taskManagerApp:register' %}" class="f-w-400">Sign up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
