{% extends "layouts/base.html" %}


{% block content %}

  {% block stylesheets %}
    {% include "includes/detail-card-styles.html" %}
  {% endblock stylesheets %}

  <div class="pcoded-main-container">
    <div class="pcoded-content">
      <div class="container mt-4">
        <h1 class="text-center text-decoration-underline">{{ task.name }} </h1>

        <div class="detail-card">
          <h4 class="text-dark">Task Information</h4>
          <hr>
          <p class="detail-info"><strong>Deadline:</strong>{{ task.deadline }}</p>
          <p class="detail-info"><strong>Assignees:</strong>
            {% if task.assignees.all %}
              {% for assignee in task.assignees.all %}
                {{ assignee.username }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% else %}
              <span class="text-muted">No assignees</span>
            {% endif %}
          </p>
          <p class="detail-info">
            <strong>Priority:</strong>
            {% include "includes/priority-buttons.html" %}
          </p>
          <p class="detail-info"><strong>Description:</strong> {{ task.description }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
