{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Edit Profile</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5><i class="feather icon-user mr-2"></i>Profile Details</h5>
          </div>
          <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">
                  <i class="feather icon-save mr-1"></i>Save Changes
                </button>
                <a href="{% url 'taskmanager:index' %}" class="btn btn-secondary ml-2">
                  <i class="feather icon-x mr-1"></i>Cancel
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
